@model WebApplicationHotelApp.Models.Habitacion.Habitacion

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Eliminar</h1>

<h3>esta seguro que desea eliminar esta habitacion?</h3>
<div>
    <h4>Habitacion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreOcupantes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreOcupantes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTipoHabitacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTipoHabitacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Capacidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Capacidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Piso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Piso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioPagar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioPagar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdDetalleHabitacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdDetalleHabitacion)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver al maestro de habitaciones</a>
    </form>
</div>
