@model WebApplicationHotelApp.Models.Factura.Factura

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Eliminar facturas</h1>

<h3>esta seguro que desea eliminar esta factura?</h3>
<div>
    <h4>Factura</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nit_Hotel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nit_Hotel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre_Hotel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre_Hotel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre_Cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre_Cliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cedula_Cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cedula_Cliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precio_Pagar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precio_Pagar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdReserva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdReserva)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver al maestro facturas</a>
    </form>
</div>
