@model WebApplicationHotelApp.Models.ComboHabitaciones.ComboHabitacion

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Eliminar Combo Habitaciones</h1>

<h3>Esta seguro que desea eliminar este comobo habitacion?</h3>
<div>
    <h4>ComboHabitacion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreCombo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreCombo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DuracionEstadia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DuracionEstadia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comodidades)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comodidades)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Disponibilidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Disponibilidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cancelacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cancelacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reservacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reservacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NotasAdicionales)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NotasAdicionales)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoPromo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoPromo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpcionesPersonalizadas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpcionesPersonalizadas)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver al maestro de combo habitaciones</a>
    </form>
</div>
