@model IEnumerable<WebApplicationHotelApp.Models.ComboHabitaciones.ComboHabitacion>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Maestro Combo Habitaciones</h1>

<p>
    <a asp-action="Create">Crear nuevo combo habitaciones</a>
</p>
<table class="table" style="color: #ffffff;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreCombo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DuracionEstadia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comodidades)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Disponibilidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cancelacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NotasAdicionales)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoPromo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpcionesPersonalizadas)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCombo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DuracionEstadia)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Comodidades)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Disponibilidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cancelacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reservacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NotasAdicionales)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoPromo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpcionesPersonalizadas)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">editar</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
