@model WebApplicationHotelApp.Models.TipoHabitacion.TipoHabitacion

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Eliminar</h1>

<h3>Esta seguro que desea eliminar este tipo habitacion?</h3>
<div>
    <h4>TipoHabitacion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreTipoHabitacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreTipoHabitacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Capacidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Capacidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tamanio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tamanio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vistas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vistas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comodidades)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comodidades)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imagenes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Imagenes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Disponibilidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Disponibilidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NotasAdicionales)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NotasAdicionales)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PoliticaCancelacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PoliticaCancelacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpcionReserva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpcionReserva)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdHabitacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdHabitacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCliente)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver al maestro tipo habitaciones</a>
    </form>
</div>
