@model WebApplicationHotelApp.Models.DetalleReserva.DetalleReserva

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Eliminar</h1>

<h3>Esta seguro que desea eliminar este detalle de reserva?</h3>
<div>
    <h4>DetalleReserva</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdReserva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdReserva)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidaadNoches)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidaadNoches)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoHabitacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoHabitacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadPersonas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadPersonas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaLlegada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaLlegada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaSalida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaSalida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioTotal)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver al maestro detalle de reservas</a>
    </form>
</div>
